<nav class="menu">
  <p><%= @nav_menu[:title] %></p>

  <ul>
    <% @nav_menu[:links].each do |link| %>
      <li><%= link_to t(link[:title]), link[:to] %></li>
    <% end %>

    <% if logged_in? %>
      <%= link_to t(:log_out), "/logout/" %>
    <% else %>
      <li><%= link_to t(:log_in), "/login/" %></li>
    <% end %>
  </ul>
</nav>
