<div class="msg"></div>
<br />
<%= render 'form' %>
<br /><hr />
<a href="#" id="update_msg">Update</a>
<br /><hr /><br />
<% @quotes.each do |quote| %>
  <%= render 'quote', :locals => { :quote => quote } %> 
<% end %>

<br />
