body {
  background-color: #CDBF6F;
  background-image: url('../images/sword.gif');
  background-position: right top;
  background-repeat: no-repeat;
}

input[type="text"], textarea {
  background-color: #EBDC8E;
}

.content {
  position: relative;
  left: 20%;
}

.quote {
  display: block;
  background-color: #B8A74C;
  width: 60%;
  padding: 10px 15px 10px 10px;
  border-top: 5px solid #898464;
  border-bottom: 5px solid #898464;
  font-variant:small-caps; 
  font-size:20px;
}

.author {
  text-decoration: underline; 
  text-indent: 20px; 
  text-shadow: #000;
}

nav.menu {
  position: fixed;
  padding-left: 20px;
  top: 300px;
  float: left;
}

a {
  text-decoration: none;
}

nav:hover {
  background-color: #E6D167;
}

nav {
  background-color: #EBDC8E;
  padding: 0 0.7em;
  white-space: nowrap;
  border-right: 2px solid #898464;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav.menu ul li {
  list-style-type: none;
  /*display: inline-block;*/
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}
