body {
  background-color: #CDBF6F;
  background-image: url('../images/sword.gif');
  background-position: top right;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

input[type="text"], textarea {
  background-color: #EBDC8E;
}

input[type="text"]:focus, textarea:focus {
  background-color: #E4DDBC;
  border: 3px solid #EEBFCF;
}

.content {
  position: relative;
  left: 20%;
  width: 60%
}

.quote {
  display: block;
  background-color: #EBDC8E;
  width: 90%;
  padding: 10px 15px 10px 10px;
  border-top: 5px solid #B8A74C;
  border-bottom: 5px solid #B8A74C;
}

.quote-body {
  font-variant:small-caps;
  font-size:20px;
}

.quote:hover {
  background-color: #E6D167;
}

.quote-author {
  text-decoration: none; 
  text-indent: 20px; 
  text-shadow: #000;
  font-family: "Lucida Console", Monaco, monospace;
  border-bottom: 2px solid #B8A74C;
}

nav.menu {
  position: fixed;
  left: 20px;
  top: 300px;
  padding-left: 20px;
  float: left;
}

nav.menu p {
  border-bottom: 2px solid #B8A74C;
  font-size: 16px;
  font-family: "Lucida Console", Monaco, monospace;
}

a, a:hover, a:visited {
  text-decoration: none;
}

nav {
  background-color: #EBDC8E;
  padding: 0 0.7em;
  white-space: nowrap;
  border-right: 3px solid #B8A74C;
}

nav:hover {
  background-color: #DDC440;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li:hover {
  background-color: #E6D167;
}

nav.menu ul li {
  list-style-type: none;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}

.footer ul li {
  display: inline;
  padding-right: 10px;
  padding-left: 10px;
}

.footer ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  width: 35%;
}

.footer ul li:hover {
  background-color: #E6D167;
}

.footer:hover {
  background-color: #DDC440;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
