body {
  background-color: #3155c5;
}

.quote {
  position: relative;
  left: 20%;
  display: block;
  background-color: #35e5e5;
  width: 30%;
  padding: 15px 10px 0px 10px;
  border-top: 5px solid #5500d9;
  border-bottom: 5px solid #5500d9;
  margin-top: 5px;
  margin-bottom: 5px;
}

.author {
  text-decoration: underline; 
  text-indent: 20px; 
  text-shadow: #000;
}

nav.menu {
  position: fixed;
  left: 20px;
  top: 300px;
  float: left;
}

nav.menu a, nav.menu a:hover, nav.menu a:visited {
  text-decoration: none;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav.menu ul li {
  list-style-type: none;
  /*display: inline-block;*/
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}
